html {
    font-family: "Roboto";
    font-size: 18px;
}

a {
    color:white;
}

a:hover {
    color: black;
}

h1 {
    letter-spacing: -0.045em;
    font-weight: 700;
    text-shadow: 2px 2px #e65100;
}

h2,h3,h4 {
    letter-spacing: -0.045em;
}

/* MOBILE */
@media only screen and (min-width:10px) {
    .github-link {
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .accent-link {
        font-size: 20px;
        font-weight: 700;
    }
    
    .cloudflare-logo {
        width: 200px;
    }
    
    .small-text {
        font-size: 10px;
    }

    footer.page-footer {
        margin-top:0px;
    }
}

/* TABLET */
@media only screen and (min-width:600px) {

}

/* DESKTOP */
@media only screen and (min-width:1024px) {

}