body {
    min-width: 375px;
    min-height: 350px;
    margin: 0;
}

.group .group-title {
    background-color: #4f5358;
    padding: 10px 30px
}

.group .group-body {
    padding: 30px;
}

.prompt.active {
	display: block;
}

.prompt {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

#optionsButton {
    margin: auto;
    display: block;
}

#infoBtn span {
    line-height: 25px;
}

#infoBtn img {
    height: 25px;
    width: 25px;
    vertical-align: bottom;
    margin-right: 25px;
}

#lightbox {
    background-color: #23272A;
}

#details:not(:empty) {
    background-color: #af661a;
    padding: 20px;
}

select {
    background-color: #23272a;
    border: solid 1px #4f5358;
    color: white;
    padding: 4px;
}